.container{
    width: 50%;
    height: 50%;
    padding: 20px;
    border: 7px solid rgb(21, 14, 226);
    background-color: rgb(23, 21, 117);
    margin: 10%;
}
input[ type = "password"],input[type = "text"], input[type = "submit"]{
    width: 100%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}