.header{
    padding: 5%;
    text-align: center;
    background-color: rgb(162, 162, 255);
}
.dati{
    width: 50%;
    float: left;
    background-color: lightblue;
}
.input{
    padding: 5%;
}
button{
    width: 50%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}